.header {
  padding: 20px 0;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    display: flex;
    justify-content: space-between;

    .list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 500px;
    }

    &__link {
      color: var(--mineral-green);
      font-size: 16px;
      line-height: 16px;
      border-bottom: transparent;
      transition: all 0.3s ease-in-out;

      &:hover {
        border-bottom: 1px solid var(--mineral-green);
      }

      &-cart {
        background-color: var(--mineral-green);
        color: var(--white);
        padding: 10px 15px;
        border-radius: 6px;
        display: flex;
        align-items: center;

        &::before {
          content: "";
          background: url(../../assets/images/cart.svg) center/cover no-repeat;
          display: inline-block;
          width: 17px;
          height: 17px;
          margin-right: 10px;
        }

        &::after {
          content: "0";
          background-color: var(--white);
          color: var(--mineral-green);
          display: inline-block;
          font-size: 11px;
          text-align: center;
          line-height: 18px;
          margin-left: 10px;
          border-radius: 9px;
          height: 17px;
          width: 17px;
        }

        &:hover {
          border-bottom: 0;
        }
      }
    }
  }

  .hamburger-menu {
    display: none;
    &__item {
      border: 1px solid black;
      width: 20px;
      margin: 3px 0;
      display: block;
    }
  }
}

@media screen and (max-width: 750px) {
  .header {
    .nav {
      .list {
        width: 400px;
      }

      .nav__link {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    .nav {
      .nav__link {
        display: none;
      }
    }

    .hamburger-menu {
      display: block;
    }
  }
}
